<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>送信が完了しました</h3>
      <div>
        <p>内容は下記のとおりです。</p>
      </div>
      <label>[タイトル]</label>
      <div><%= @contact.title %></div>
      <label>[本文]</label>
      <div><%= @contact.contact %></div>
    </div>
  </div>
</div>